<!-- views/form.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .form-group {
            margin-bottom: 15px;
        }
    
        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }
    
        .form-group input[type="text"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            color: #333;
        }
    
        .form-group input[type="text"]:focus,
        .form-group textarea:focus {
            border-color: #66afe9;
            outline: none;
        }
    
        .form-group textarea {
            resize: vertical;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/noticeboard">Noticeboard</a></li>
                <li><a href="/trainers">Trainers</a></li>
                <li><a href="/myinfo">My Info</a></li>
                <li><a href="/dogencyclopedia">Dog Encyclopedia</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>새로운 글</h2>
        <form action="/form" method="POST" class="noticeboard-form">
            <div class="form-group">
                <label for="category">카테고리:</label>
                <select name="category" id="category">
                    <option value="free" selected>자유게시판</option>
                    <option value="secret">익명게시판</option>
                    <option value="advice">건강 상담</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">내용:</label>
                <textarea id="description" name="description" class="form-control" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">이미지:</label>
                <input type="file" name="image" id="image" accept=".jpg,.jpeg,.png,.tiff,.tif,.webp,.heif,.heic, image/jpeg, image/png, image/tiff, image/webp, image/heif, image/heic">

            </div>
            <button type="submit" class="submit-btn">글 작성</button>
            <button type="button" onclick="location.href='/noticeboard'">글 목록</button>
        </form>
    </div>
</body>
</html>
