<!-- HW -->

<!-- 1.4 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="/styles.css?after">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/noticeboard">Noticeboard</a></li>
                <li><a href="/trainers">Trainers</a></li>
                <li><a href="/myinfo">My Info</a></li>
                <li><a href="/dogencyclopedia">Dog Encyclopedia</a></li>
                <li><a href="/chatlist">Chat</a></li>
                <li><a href="/users">Users</a></li>
                <% if (!login_id) { %>
                    <li><a href="/login">Login</a></li>
                <% } else { %>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <div id="chat-container">
        <div id="messages"></div>
        <input type="text" id="message-input" placeholder="Type your message here...">
        <button id="send-button">Send</button>
        <button id="clear-button">Clear Chat</button> <!-- <-- 1.4 추가-->
    </div>
    <script src="/socket.io/socket.io.js"></script> <!-- socket.io 라이브러리 -->
    <script src="/chat.js"></script>
    <script src="/app.js"></script>

</body>
</html>