<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room List</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Chat Rooms</h1>
  </header>
  <div id="chat-container" class="container">
    <ul id="chat-room-list" class="content"></ul>
    <button id="create-chat-room" class="button">Create Chat Room</button>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/chatlist.js"></script> <!-- chatlist.js 파일을 사용 -->
</body>
</html>
