<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Active Users</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
                <li><a href="/noticeboard">noticeboard</a></li>
                <li><a href="/trainers">Trainers</a></li>
                <li><a href="/myinfo">My Info</a></li>
                <li><a href="/dogencyclopedia">Dog Encyclopedia</a></li>
                <li><a href="/chatlist">Chat</a></li> <!-- 채팅 기능으로 이동하는 버튼 추가 -->
                <li><a href="/users">Users</a></li>
                <% if (!login_id) { %>
                    <li><a href="/login">Login</a></li>
                <% } else { %>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h2>Active Users</h2>
    <ul id="userList"></ul>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/users.js"></script>
    <script src="/app.js"></script>
</body>
</html>
